Написать программу, которая вычисляет площадь фигуры, параметры которой подаются на вход.
Фигуры, которые подаются на вход: треугольник, прямоугольник, круг. Результатом работы является словарь,
где ключ – это название фигуры, а значение – это площадь.

In [1]:
import math

figures = {}
name = input('Введите нзвание фигуры: ').lower()
area = None
if name == 'треугольник':
    height = float(input('Введите высоту треугольника: '))
    base = float(input('Введите длину основания треугольника: '))
    area = 0.5 * base * height
elif name == 'прямоугольник':
    length = float(input("Введите длину прямоугольника: "))
    width = float(input("Введите ширину прямоугольника: "))
    area = length * width
elif name == 'круг':
    radius = float(input("Введите радиус круга: "))
    area = math.pi * radius ** 2
else:
    print("Неверный тип фигуры")

if area != None:
    figures[name] = area
    print(f"\nПлощадь {name} равна {area}\n")
    print(figures)

Площадь треугольник равна 7.5

{'треугольник': 7.5}

Написать программу, которая на вход получает два числа и операцию, которую к ним нужно применить.
Должны быть реализованы следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в степень.

In [2]:
num1 = float(input('Введите первое число: '))
num2 = float(input('Введите второе число: '))
operation = input("Введите операцию (+, -, /, //, abs, pow): ")
result = 0.0

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "/":
    if num2 == 0:
        print("Ошибка: деление на ноль!")
    else:
        result = num1 / num2
elif operation == "//":
    if num2 == 0:
        print("Ошибка: деление на ноль!")
    else:
        result = num1 // num2
elif operation == "abs":
    result = abs(num1)
elif operation == "pow" or operation == "**":
    result = num1 ** num2
else:
    result = "Неверная операция!"

print(f"Результат операции {operation}: {result}")

Результат операции +: 4.0

Напишите программу, которая считывает с консоли числа (по одному в строке) до тех пор,
пока сумма введённых чисел не будет равна 0 и после этого выводит сумму квадратов всех считанных чисел.

In [3]:
array = []
while len(array) == 0 or sum(array) != 0:  # длина = 0, или сумма != 0
    x = float(input('Введите число: '))
    array.append(x)
else:
    sum_2 = sum(x ** 2 for x in array)
    print(f'Сумма квадратов введённых чисел = {sum_2}')

Сумма квадратов введённых чисел = 24.0

Напишите программу, которая выводит последовательность чисел, длинною N, где каждое число повторяется столько раз,
 чему оно равно. На вход программе передаётся неотрицательное целое число N. Например, если N = 7,
 то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка через пробел – print(*list).

In [4]:
N = int(input('Введите N: '))
array = []
for i in range(1, N + 1):
    for j in range(i):
        if len(array) != N:
            array.append(i)
print(*array)

1 2 2 3 3 3 4

А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
Создать словарь, в котором ключи – это содержимое списка В, а значения для ключей словаря –
это сумма всех элементов списка А в соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}.
Скачать и загрузить данные о стоимости домов в калифорнии, используя библиотеку sklearn.

In [5]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

result_dict = {}

for i in range(len(B)):
    key = B[i]
    value = A[i]

    if key in result_dict:
        result_dict[key] += value
    else:
        result_dict[key] = value

print(result_dict)

{'a': 17, 'b': 11, 'c': 17}

Дан текст на английском языке. Необходимо закодировать его с помощью азбуки Морзе,
где каждой букве соответствует последовательность точек и тире.
Например, буква «g» превратится в строку «--.». В переменной morze для удобства
хранится словарь соответствия латинских букв коду Морзе.

In [6]:
morze = {
    'a': '.-', 'b': '-...', 'c': '-.-.', 'd': '-..',
    'e': '.', 'f': '..-.', 'g': '--.', 'h': '....',
    'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
    'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
    'q': '--.-', 'r': '.-.', 's': '...', 't': '-',
    'u': '..-', 'v': '...-', 'w': '.--', 'x': '-..-',
    'y': '-.--', 'z': '--..', ' ': ' '
}


def text_to_morse(text):
    words = text.split()
    encoded_words = []

    for word in words:
        encoded_word = ' '.join([morze[char.lower()] for char in word])
        encoded_words.append(encoded_word)

    return encoded_words


input_text = input("Введите текст на английском языке: ")

encoded_text = text_to_morse(input_text)

for word in encoded_text:
    print(word)

.... ..
.--. . .--. .-

В некотором городе открывается новая служба по доставке электронных писем. Необходимо наладить систему регистрации новых пользователей.
Регистрация должна работать следующим образом: если новый пользователь хочет зарегистрироваться на сайте, то он должен послать системе запрос name со своим именем. Система должна определить, существует ли уже такое имя в базе данных. Если такого имени не существует, то оно заносится в базу данных системы и пользователю возвращается ответ "ОК", подтверждающий успешную регистрацию. А если пользователь с таким именем уже существует, то система должна сформировать новое имя и выдать его пользователю в качестве подсказки, при этом сама подсказка также добавляется в базу данных. Новое имя формируется следующим образом: к name последовательно приписываются числа, начиная с 1 (name1, name2 и так далее), и среди них находят такое наименьшее i, что namei еще не содержится в системе.

In [7]:
registered_users = []
count_name = int(input())

for i in range(count_name):
    new_name = str(input())
    if new_name not in registered_users:
        registered_users.append(new_name)
        print('OK')
    else:
        for i in range(1, 100000):
            find_name = new_name + str(i)
            if find_name not in registered_users:
                registered_users.append(find_name)
                print(find_name)
                break

OK
b1

Необходимо создать программу обработки запросов пользователей к файловой системе компьютера. Над каждым файлом можно производить следующие действия: запись – w ("write"), чтение – r ("read"), запуск – x ("execute").

In [8]:
array_actions = {}
n = int(input())
for i in range(n):
    requests = str(input()).split()
    key = requests[0]
    requests.pop(0)
    for j in range(len(requests)):
        if requests[j] == 'r':
            requests[j] = 'read'
        elif requests[j] == 'w':
            requests[j] = 'write'
        elif requests[j] == 'e':
            requests[j] = 'execute'
    array_actions[key] = requests
print(array_actions)
m = int(input())
for i in range(m):
    requests = str(input()).split()  # write 1.py
    if requests[0] in array_actions[requests[1]]:
        print('OK')
    else:
        print('Access denied')

{'py.py': ['read', 'write']}
OK
OK
Access denied

Альтернативный вариант последнего задания

In [ ]:
import os

while True:
    count_requests = int(input())
    for id_request in range(count_requests):
        requests = str(input()).split()
        if requests[0] == 'read':
            try:
                open(requests[1], 'r')
                print('OK')
            except OSError:
                print('Access denied')
        elif requests[0] == 'execute':
            try:
                open(requests[1], 'w')
                print('OK')
            except OSError:
                print('Access denied')
        elif requests[0] == 'write':
            try:
                os.system(requests[1])
                print('OK')
            except OSError:
                print('Access denied')
        else:
            pass

In [9]:
from sklearn.datasets import fetch_california_housing


data = fetch_california_housing(as_frame=True)
dataset = data.frame
dataset

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [11]:
dataset.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [12]:
dataset.loc[(dataset['HouseAge'] > 50) & (dataset['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

In [13]:
dataset['MedHouseVal'].describe()

count    20640.000000
mean         2.068558
std          1.153956
min          0.149990
25%          1.196000
50%          1.797000
75%          2.647250
max          5.000010
Name: MedHouseVal, dtype: float64

In [14]:
def calculate_mean(column):
    return column.mean()


means = dataset.apply(calculate_mean)
for feature, mean_value in means.items():
    print(f"Признак: {feature}, Среднее значение: {mean_value}")

Признак: MedInc, Среднее значение: 3.8706710029069766
Признак: HouseAge, Среднее значение: 28.639486434108527
Признак: AveRooms, Среднее значение: 5.428999742190376
Признак: AveBedrms, Среднее значение: 1.096675149606208
Признак: Population, Среднее значение: 1425.4767441860465
Признак: AveOccup, Среднее значение: 3.0706551594363742
Признак: Latitude, Среднее значение: 35.63186143410853
Признак: Longitude, Среднее значение: -119.56970445736432
Признак: MedHouseVal, Среднее значение: 2.068558169089147